NetSDK/src/AriaRestClient/Service References/AriaObjectQuery/integration_services-doc_literal_wrapped.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:client:api:wsdl:document/literal_wrapped:vers:6.19:aria_integration_services_api" targetNamespace="urn:client:api:wsdl:document/literal_wrapped:vers:6.19:aria_integration_services_api" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:client:api:wsdl:document/literal_wrapped:vers:6.19:aria_integration_services_api">
      <xsd:complexType name="current_billing_info_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_first_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_middle_initial" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_last_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_address1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_address2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_state" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_locality" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_zip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_phone_npa" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_phone_nxx" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_phone_suffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_phone_extension" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_intl_phone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_pay_method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_cc_expire_mm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_cc_expire_yyyy" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="billing_bank_routing_num" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="supp_field_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="supp_field_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="supp_field_value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="supp_plan_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="supp_plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="supp_plan_name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="account_details_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="senior_acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="first_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="mi" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="last_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address_1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="address_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="locality" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="postal_code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phone_npa" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phone_nxx" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phone_suffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="phone_extension" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="intl_phone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="alt_email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_acct_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promo_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="resp_level_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pay_method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="last_updated" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="company_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="current_billing_info" type="tns:current_billing_info_ReturnElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="state_prov" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="country_english" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promo_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="no_provision_ind" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bill_action_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="status_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_balance" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supp_field" type="tns:supp_field_ReturnElement" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bill_day" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supp_plan" type="tns:supp_plan_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="account_status_history_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="company_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promo_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="account_creation_date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="plan_no" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="new_status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="new_status_cd" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="old_status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="old_status_cd" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="change_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="account_plan_history_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_no" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="promo_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="account_creation_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="from_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="to_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="old_plan_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="old_plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="new_plan_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="new_plan_no" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="payment_details_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="payment_id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="processor_payment_id" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="payment_date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="collection_status_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="collection_status_text" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="processor_name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="method" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="reference_num" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="last_updated" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="voiding_event_no" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="order_item_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="sku" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="units" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="unit_price" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="subtotal" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="order_details_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="order_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice_no" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="create_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="last_updated" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="order_item" type="tns:order_item_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="invoice_line_tax_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="tax_id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="before_credit_amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="is_excluded" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="invoice_line_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="line_item_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ledger_code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coa_id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coa_description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_units" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_rate" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_type_no" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="start_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="end_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_sku" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="order_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="item_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoice_line_tax" type="tns:invoice_line_tax_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="invoice_details_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debit" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="credit" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bill_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paid_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="notify_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="from_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="to_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balance_forward" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statement_balance_forward" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="total_due" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="additional_comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transaction_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="last_updated" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_event_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_statement_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_statement_seq_str" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="second_acct_statement_seq_str" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="voiding_event_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoice_line" type="tns:invoice_line_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="related_transaction_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="aria_event_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transaction_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transaction_type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transaction_type_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="is_charge_type" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type_specific_id" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_statement_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="total_amount_applied" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="related_amount_applied" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="update_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="void_date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="fully_applied_date" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="transaction_information_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="aria_event_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transaction_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transaction_type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="transaction_type_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="is_charge_type" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="type_specific_id" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_acct_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_statement_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="total_amount_applied" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="related_amount_applied" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="update_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="void_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="fully_applied_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="related_transaction" type="tns:related_transaction_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="refund_information_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="aria_event_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_amount" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="create_date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="create_user" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_reason_code" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_reason_label" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_reason_description" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="aria_statement_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ref_payment_event_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ref_payment_transaction_type" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ref_payment_transaction_desc" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ref_payment_amount" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_transaction_type" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_transaction_desc" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_check_num" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_bill_seq_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_pay_method_id" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_pay_method_name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_cc_id" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_cc_type" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_payment_src_suffix" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="refund_is_voided_ind" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="coupon_history_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="client_acct_id" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="coupon_cd" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="coupon_create_date" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="coupon_status" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="coupon_cancel_date" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="map_record_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="number" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="description" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="all_invoice_line_tax_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="tax_id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="before_credit_amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="jurisdiction" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="is_excluded" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="all_invoice_line_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="line_item_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="credit_reason_code_description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="amount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="plan_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="service_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ledger_code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coa_id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="coa_description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_units" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_rate" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_type_no" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="start_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="end_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="client_sku" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="order_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="item_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="all_invoice_line_tax" type="tns:all_invoice_line_tax_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="all_invoice_details_ReturnElement">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="user_id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="from_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="to_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_bill_from_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="usage_bill_thru_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_email" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_first_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_middle_initial" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_last_name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_address1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_address2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_address3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_city" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_state" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_locality" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_zip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="taxed_country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="debit" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="credit" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="bill_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="due_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="paid_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="notify_date" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="currency_cd" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="balance_forward" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="statement_balance_forward" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="total_due" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="additional_comments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="transaction_type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="last_updated" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_event_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="aria_statement_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="1" name="acct_statement_seq_str" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="second_acct_statement_seq_str" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="invoice_line_items" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="voiding_event_no" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="all_invoice_line" type="tns:all_invoice_line_ReturnElement" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="get_account_details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_account_detailsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="account_details" type="tns:account_details_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_account_status_history">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_account_status_historyResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="account_status_history" type="tns:account_status_history_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_account_plan_history">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_account_plan_historyResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="account_plan_history" type="tns:account_plan_history_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_payment_details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_payment_detailsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="payment_details" type="tns:payment_details_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_order_details">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_order_detailsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="order_details" type="tns:order_details_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_invoice_information">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_invoice_informationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoice_details" type="tns:invoice_details_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_transaction_information">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_transaction_informationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="transaction_information" type="tns:transaction_information_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_refund_information">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_refund_informationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="refund_information" type="tns:refund_information_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_coupon_history">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_coupon_historyResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="coupon_history" type="tns:coupon_history_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_transaction_types">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_transaction_typesResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="map_record" type="tns:map_record_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_payment_methods">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_payment_methodsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="map_record" type="tns:map_record_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_payment_processors">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="list_payment_processorsResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="map_record" type="tns:map_record_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_all_invoice_information">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="client_no" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="auth_key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="limit" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="offset" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="query_string" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get_all_invoice_informationResponseElement">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="error_code" type="xsd:long" />
            <xsd:element minOccurs="1" maxOccurs="1" name="error_msg" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="starting_record" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="1" name="total_records" type="xsd:long" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="all_invoice_details" type="tns:all_invoice_details_ReturnElement" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="get_account_detailsRequestMsg">
    <part name="parameters" element="tns:get_account_details" />
  </message>
  <message name="get_account_detailsResponseMsg">
    <part name="parameters" element="tns:get_account_detailsResponseElement" />
  </message>
  <message name="get_account_status_historyRequestMsg">
    <part name="parameters" element="tns:get_account_status_history" />
  </message>
  <message name="get_account_status_historyResponseMsg">
    <part name="parameters" element="tns:get_account_status_historyResponseElement" />
  </message>
  <message name="get_account_plan_historyRequestMsg">
    <part name="parameters" element="tns:get_account_plan_history" />
  </message>
  <message name="get_account_plan_historyResponseMsg">
    <part name="parameters" element="tns:get_account_plan_historyResponseElement" />
  </message>
  <message name="get_payment_detailsRequestMsg">
    <part name="parameters" element="tns:get_payment_details" />
  </message>
  <message name="get_payment_detailsResponseMsg">
    <part name="parameters" element="tns:get_payment_detailsResponseElement" />
  </message>
  <message name="get_order_detailsRequestMsg">
    <part name="parameters" element="tns:get_order_details" />
  </message>
  <message name="get_order_detailsResponseMsg">
    <part name="parameters" element="tns:get_order_detailsResponseElement" />
  </message>
  <message name="get_invoice_informationRequestMsg">
    <part name="parameters" element="tns:get_invoice_information" />
  </message>
  <message name="get_invoice_informationResponseMsg">
    <part name="parameters" element="tns:get_invoice_informationResponseElement" />
  </message>
  <message name="get_transaction_informationRequestMsg">
    <part name="parameters" element="tns:get_transaction_information" />
  </message>
  <message name="get_transaction_informationResponseMsg">
    <part name="parameters" element="tns:get_transaction_informationResponseElement" />
  </message>
  <message name="get_refund_informationRequestMsg">
    <part name="parameters" element="tns:get_refund_information" />
  </message>
  <message name="get_refund_informationResponseMsg">
    <part name="parameters" element="tns:get_refund_informationResponseElement" />
  </message>
  <message name="get_coupon_historyRequestMsg">
    <part name="parameters" element="tns:get_coupon_history" />
  </message>
  <message name="get_coupon_historyResponseMsg">
    <part name="parameters" element="tns:get_coupon_historyResponseElement" />
  </message>
  <message name="list_transaction_typesRequestMsg">
    <part name="parameters" element="tns:list_transaction_types" />
  </message>
  <message name="list_transaction_typesResponseMsg">
    <part name="parameters" element="tns:list_transaction_typesResponseElement" />
  </message>
  <message name="list_payment_methodsRequestMsg">
    <part name="parameters" element="tns:list_payment_methods" />
  </message>
  <message name="list_payment_methodsResponseMsg">
    <part name="parameters" element="tns:list_payment_methodsResponseElement" />
  </message>
  <message name="list_payment_processorsRequestMsg">
    <part name="parameters" element="tns:list_payment_processors" />
  </message>
  <message name="list_payment_processorsResponseMsg">
    <part name="parameters" element="tns:list_payment_processorsResponseElement" />
  </message>
  <message name="get_all_invoice_informationRequestMsg">
    <part name="parameters" element="tns:get_all_invoice_information" />
  </message>
  <message name="get_all_invoice_informationResponseMsg">
    <part name="parameters" element="tns:get_all_invoice_informationResponseElement" />
  </message>
  <portType name="integration_servicesPort">
    <operation name="get_account_details">
      <input message="tns:get_account_detailsRequestMsg" />
      <output message="tns:get_account_detailsResponseMsg" />
    </operation>
    <operation name="get_account_status_history">
      <input message="tns:get_account_status_historyRequestMsg" />
      <output message="tns:get_account_status_historyResponseMsg" />
    </operation>
    <operation name="get_account_plan_history">
      <input message="tns:get_account_plan_historyRequestMsg" />
      <output message="tns:get_account_plan_historyResponseMsg" />
    </operation>
    <operation name="get_payment_details">
      <input message="tns:get_payment_detailsRequestMsg" />
      <output message="tns:get_payment_detailsResponseMsg" />
    </operation>
    <operation name="get_order_details">
      <input message="tns:get_order_detailsRequestMsg" />
      <output message="tns:get_order_detailsResponseMsg" />
    </operation>
    <operation name="get_invoice_information">
      <input message="tns:get_invoice_informationRequestMsg" />
      <output message="tns:get_invoice_informationResponseMsg" />
    </operation>
    <operation name="get_transaction_information">
      <input message="tns:get_transaction_informationRequestMsg" />
      <output message="tns:get_transaction_informationResponseMsg" />
    </operation>
    <operation name="get_refund_information">
      <input message="tns:get_refund_informationRequestMsg" />
      <output message="tns:get_refund_informationResponseMsg" />
    </operation>
    <operation name="get_coupon_history">
      <input message="tns:get_coupon_historyRequestMsg" />
      <output message="tns:get_coupon_historyResponseMsg" />
    </operation>
    <operation name="list_transaction_types">
      <input message="tns:list_transaction_typesRequestMsg" />
      <output message="tns:list_transaction_typesResponseMsg" />
    </operation>
    <operation name="list_payment_methods">
      <input message="tns:list_payment_methodsRequestMsg" />
      <output message="tns:list_payment_methodsResponseMsg" />
    </operation>
    <operation name="list_payment_processors">
      <input message="tns:list_payment_processorsRequestMsg" />
      <output message="tns:list_payment_processorsResponseMsg" />
    </operation>
    <operation name="get_all_invoice_information">
      <input message="tns:get_all_invoice_informationRequestMsg" />
      <output message="tns:get_all_invoice_informationResponseMsg" />
    </operation>
  </portType>
  <binding name="integration_servicesBinding" type="tns:integration_servicesPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="get_account_details">
      <soap:operation soapAction="get_account_details" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_account_status_history">
      <soap:operation soapAction="get_account_status_history" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_account_plan_history">
      <soap:operation soapAction="get_account_plan_history" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_payment_details">
      <soap:operation soapAction="get_payment_details" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_order_details">
      <soap:operation soapAction="get_order_details" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_invoice_information">
      <soap:operation soapAction="get_invoice_information" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_transaction_information">
      <soap:operation soapAction="get_transaction_information" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_refund_information">
      <soap:operation soapAction="get_refund_information" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_coupon_history">
      <soap:operation soapAction="get_coupon_history" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="list_transaction_types">
      <soap:operation soapAction="list_transaction_types" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="list_payment_methods">
      <soap:operation soapAction="list_payment_methods" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="list_payment_processors">
      <soap:operation soapAction="list_payment_processors" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="get_all_invoice_information">
      <soap:operation soapAction="get_all_invoice_information" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="aria_integration_services_api">
    <documentation>WSDL definition for integration_services</documentation>
    <port name="integration_servicesPort" binding="tns:integration_servicesBinding">
      <soap:address location="https://secure.unstable.qa.ariasystems.net/api/AriaQuery/objects.php" />
    </port>
  </service>
</definitions>